<h2>生成された画像の確認</h2>

<%= image_tag @post.picture, width: '315' %>

<h2>Step 3</h2>

<a href="https://twitter.com/share?url=https://bigtweet.herokuapp.com/posts/<%= @post.id %>&hashtags=BigTweet" target="_blank" class="square_btn" data-show-count="false">ビッグツイート！（Twitter投稿へ）</a>
<br>
<br>
<div>
  <%= link_to "画像編集へ戻る", edit_post_path(@post) %>
</div>
