<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>文字が入った画像を自動生成して、気軽に力強いツイート（パワーツイート）ができるサービスです</p>
  <p>こんなツイートが簡単に作れます！</p>
  <%= image_tag 'top.png', width: '315' %>
  <p>簡単<i>3Step</i>でTwitter投稿！</p>
  <p>画像を確認してからツイートするか選べます！まずは画像作成してみてください^^</p>
</div>

<%= render 'form', post: @post %>
